*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++ HEADER RULES +++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.red{
  color: #DC1A28;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 70px;
  width: 100vw;
  color: aliceblue;
}
#logo{
  height: 50px;
}
#container-logo{
  margin-left: 45px;
}
#container-search{
  display: flex;
  align-items: center;
  margin-right: 45px;
}
.theme{
  border-radius:3px;
  border:1px solid #942911;
  background-color:#d0451b;
  color:#ffffff;
  margin-right: 3px;
  text-indent: 5px;
}
#tipologia{
  width: 80px;
}
#avvisi{
  align-self: flex-end;
}
#avvisi span{
  margin: 0 4px;
  color: #d0451b;
}
#search::placeholder{
  color: white;
  text-indent: 5px;
}
#search:focus::-webkit-input-placeholder { 
  color:transparent; 
  transition: 0.3s ease;
}
#baubaumiciomicio{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 25px;
  align-items: center;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++ MAIN RULES +++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
main{
  background-color: black;
  display: flex;
  justify-content: center;
}
#container-films{
  background-color: gray;
  border-radius: 6px;
  width: 95vw;
  height: calc(100vh - 70px);
  overflow: auto;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#languages{
  background-color: black;
  color: white;
}
.container-locandina{
  background-color: black;
  border: 1px white solid;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.75);
  border-radius: 14px;
  width: 200px;
  height: 300px;
  margin: 5px;
  font-size: 85%;
}
.container-locandina:hover{
  width: 280px;
  transition: 0.5s ease;
}
.container-locandina ul{
  margin: 25px;
  color: white;
}
.container-locandina ul li{
  list-style-type: none;
  margin-bottom: 3px;
}
.stelle{
  color: rgb(227, 227, 105);
  font-size: 90%;
}
.container-cover-locandina{
  width: 100%;
  height: 100%;
}
.container-cover-locandina img{
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
.container-info-locandina{
  display: none;
}
.container-info-locandina li img{
  width: 20px;
}

 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 /* ++++++++++++++++++++++++++++++ SCROLL BAR RULES ++++++++++++++++++++++++++++++++ */
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: darkred;
  border-radius: 60px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-corner {
  background: black;
}
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 /* ++++++++++++++++++++++++++++++ SEARCH BUTTON RULES +++++++++++++++++++++++++++++ */
 /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#find {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	padding: 3px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
#find:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
#find:active {
	position:relative;
	top:1px;
}